### Build a Neural Network Classifier to Predict Whether to Buy or Sell a Cryptocurrency

Scrape crypto data using Yfinance

In [2]:
import yfinance
import numpy as np
import pandas as pd

symbol = "BTC-USD"
start = "2014-01-01"
end = "2023-09-30"
df = yfinance.download(symbol, start, end)
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2023-09-25,26253.775391,26421.507812,26011.468750,26298.480469,26298.480469,11997833257
2023-09-26,26294.757812,26389.884766,26090.712891,26217.250000,26217.250000,9985498161
2023-09-27,26209.498047,26817.841797,26111.464844,26352.716797,26352.716797,11718380997
2023-09-28,26355.812500,27259.500000,26327.322266,27021.546875,27021.546875,14079002707
2023-09-29,27024.841797,27225.937500,26721.763672,26911.720703,26911.720703,10396435377

In [3]:
df.to_csv("btc_2014-23.csv")

### Create more Features

In [4]:
BUY = 1
SELL = 0

df["Buy or Sell (Adj Close)"] = np.where(df["Adj Close"].shift(-1) >df["Adj Close"],
                                         BUY,
                                         SELL)
df

,Open,High,Low,Close,Adj Close,Volume,Buy or Sell (Adj Close)
Date,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,0
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,0
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,1
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,0
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,1
...,...,...,...,...,...,...,...
2023-09-25,26253.775391,26421.507812,26011.468750,26298.480469,26298.480469,11997833257,0
2023-09-26,26294.757812,26389.884766,26090.712891,26217.250000,26217.250000,9985498161,1
2023-09-27,26209.498047,26817.841797,26111.464844,26352.716797,26352.716797,11718380997,1
2023-09-28,26355.812500,27259.500000,26327.322266,27021.546875,27021.546875,14079002707,0
2023-09-29,27024.841797,27225.937500,26721.763672,26911.720703,26911.720703,10396435377,0

In [5]:
df["Buy or Sell (Open)"] = np.where(df["Open"].shift(-1) >df["Open"],
                                         BUY,
                                         SELL)
df

,Open,High,Low,Close,Adj Close,Volume,Buy or Sell (Adj Close),Buy or Sell (Open)
Date,,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,0,0
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,0,0
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,1,0
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,0,1
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,1,0
...,...,...,...,...,...,...,...,...
2023-09-25,26253.775391,26421.507812,26011.468750,26298.480469,26298.480469,11997833257,0,1
2023-09-26,26294.757812,26389.884766,26090.712891,26217.250000,26217.250000,9985498161,1,0
2023-09-27,26209.498047,26817.841797,26111.464844,26352.716797,26352.716797,11718380997,1,1
2023-09-28,26355.812500,27259.500000,26327.322266,27021.546875,27021.546875,14079002707,0,1
2023-09-29,27024.841797,27225.937500,26721.763672,26911.720703,26911.720703,10396435377,0,0

Calculate amount of Returns each day

In [6]:
#percentage change in Adj Close
df["Returns"] = df["Adj Close"].pct_change()
df

,Open,High,Low,Close,Adj Close,Volume,Buy or Sell (Adj Close),Buy or Sell (Open),Returns
Date,,,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,0,0,NaN
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,0,0,-0.071926
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,1,0,-0.069843
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,0,1,0.035735
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,1,0,-0.024659
...,...,...,...,...,...,...,...,...,...
2023-09-25,26253.775391,26421.507812,26011.468750,26298.480469,26298.480469,11997833257,0,1,0.001586
2023-09-26,26294.757812,26389.884766,26090.712891,26217.250000,26217.250000,9985498161,1,0,-0.003089
2023-09-27,26209.498047,26817.841797,26111.464844,26352.716797,26352.716797,11718380997,1,1,0.005167
2023-09-28,26355.812500,27259.500000,26327.322266,27021.546875,27021.546875,14079002707,0,1,0.025380
2023-09-29,27024.841797,27225.937500,26721.763672,26911.720703,26911.720703,10396435377,0,0,-0.004064

Calculate whether Volume Increases or Decreases

In [7]:
INCREASE = 1
DECREASE = 0

df["Volume Increase or Decrease"] = np.where(df["Volume"].shift(-1) > df["Volume"],
                                             INCREASE,
                                             DECREASE)
df

,Open,High,Low,Close,Adj Close,Volume,Buy or Sell (Adj Close),Buy or Sell (Open),Returns,Volume Increase or Decrease
Date,,,,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,0,0,NaN,1
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,0,0,-0.071926,1
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,1,0,-0.069843,0
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,0,1,0.035735,0
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,1,0,-0.024659,0
...,...,...,...,...,...,...,...,...,...,...
2023-09-25,26253.775391,26421.507812,26011.468750,26298.480469,26298.480469,11997833257,0,1,0.001586,0
2023-09-26,26294.757812,26389.884766,26090.712891,26217.250000,26217.250000,9985498161,1,0,-0.003089,1
2023-09-27,26209.498047,26817.841797,26111.464844,26352.716797,26352.716797,11718380997,1,1,0.005167,1
2023-09-28,26355.812500,27259.500000,26327.322266,27021.546875,27021.546875,14079002707,0,1,0.025380,0
2023-09-29,27024.841797,27225.937500,26721.763672,26911.720703,26911.720703,10396435377,0,0,-0.004064,0

### Drop NaN Values

In [8]:
df = df.dropna()
df

,Open,High,Low,Close,Adj Close,Volume,Buy or Sell (Adj Close),Buy or Sell (Open),Returns,Volume Increase or Decrease
Date,,,,,,,,,,
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,0,0,-0.071926,1
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,1,0,-0.069843,0
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,0,1,0.035735,0
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,1,0,-0.024659,0
2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600,1,1,0.008352,1
...,...,...,...,...,...,...,...,...,...,...
2023-09-25,26253.775391,26421.507812,26011.468750,26298.480469,26298.480469,11997833257,0,1,0.001586,0
2023-09-26,26294.757812,26389.884766,26090.712891,26217.250000,26217.250000,9985498161,1,0,-0.003089,1
2023-09-27,26209.498047,26817.841797,26111.464844,26352.716797,26352.716797,11718380997,1,1,0.005167,1
2023-09-28,26355.812500,27259.500000,26327.322266,27021.546875,27021.546875,14079002707,0,1,0.025380,0
2023-09-29,27024.841797,27225.937500,26721.763672,26911.720703,26911.720703,10396435377,0,0,-0.004064,0

### Train-test Split and

### Calculate Neural Network Accuracy From Confusion Matrix